.footer {
    /* background-color: purple; */
    height: 60vh;
    background-image: url("../images/supers.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
      
  }